.detail-title {
  FONT-SIZE: 19px;
  color: #333;
  letter-spacing: -0.5px;
  font-weight: bold;
  line-height: 1.25;
  display: block;
}
.detail {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.title, .main-body-title {
  margin-bottom: 10px;
}
.questions-detail-author-link {
  font-weight:400;
  float:left;
  font-size: 13px;
  color: #999;
  padding-top:10px;
}
