/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

/*reset*/
html, body, header, h1, h2, h6, nav, ul, li, a, p, footer, small {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  list-style: none;
}

/*clear fix*/
.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

.title {
  color: #999;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  font-weight: bold;
}

li > a > strong {
  color: #999;
}
li > a:hover > strong {
  text-decoration:underline;
}

/*Images*/
.thumb {
  width:40px;
  height:40px;
  float:left;
  padding-right:5px;
}
.author-thumb {
  width: 100%;
  height:100%;
  border-radius:50%;
}
