/*Puts page body below floating nav bar*/

.index-page {
  position: relative;
  top: 75px;
}

.detail-view {
  position: relative;
  top:75px;
}

.index-page {
  width:1000px;
  margin:auto;
  margin-top:25px;
}
.detail-view {
  width:1000px;
  margin:auto;
  margin-top:25px;
}

.page-left {
  width: 150px;
  float:left;
  display:block;
  margin-right:30px;
}
.page-center {
  width:570px;
  float:left;
  display:block;
}
