/*Puts page body below floating nav bar*/

.index-page {
  position: relative;
  top: 75px;
  width:1000px;
  margin:auto;
  margin-top:25px;
}

.detail-view {
  position: relative;
  top:75px;
}

.detail-view {
  width:1000px;
  margin:auto;
  margin-top:25px;
}



.page-center {
  width:570px;
  float:left;
  display:block;
  margin-left:200px;
}
