.index-page {
  position: relative;
  top: 75px;
  width:1000px;
  margin:auto;
  margin-top:25px;
}

.detail-view {
  position: relative;
  top:75px;
}

.detail-view {
  width:1000px;
  margin:auto;
  margin-top:25px;
}

.page-left {
  width: 150px;
  margin-right:30px;
  position: fixed;
  top: 100px;
  left: 125px;
}

.page-center {
  width:570px;
  float:left;
  display:block;
  margin-left:200px;
}
