.detail-title {
  FONT-SIZE: 19px;
  color: #333;
  letter-spacing: -0.5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.25;
  display: block;
}
.detail {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.title, .main-body-title {
  margin-bottom: 10px;
}
