.search-bar {
  position: absolute;
  width: 320px;
  font-size:16px;
  padding-top:20px;
  padding-left: 20px;
  display: inline-block;
  color: #125688;
}

.search-bar input {
  padding:7px;
  width:98%;
  background:#FAFAFA;
  border: 1px solid #edeeee;
  border-radius:2px;
}

.search-results {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  width: 96%;
  background: #fff;
  max-height: 250px;
  z-index: 5;
}

.search-results:empty {
  border: none;
}

.user-options > li:hover {
  background: white;
}

.search-results li{
  border-bottom: 1px solid #ccc;
}

.search-results li > a {
  padding: 15px;
  display: block;
}

.search-results li:last-child{
  border-bottom: 0;
}
